{% extends 'base.html' %}

{% block links %}
{% load static %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-light">
    <h1 class="display-4">Meeting History</h1>
    <p class="lead">Click the View button next to a meeting
        to view the transcript!
    </p>
</div>
<div class="container">
    <div class='table-responsive-md'>
    <table class="table table-bordered text-center text-light">
            <thead>
                <tr>
                <th scope="col">Meeting ID</th>
                <th scope="col">Meeting URL</th>
                <th scope="col">Meeting Subject</th>
                <th scope="col">Meeting Organizer</th>
                <th scope="col">Meeting Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for meeting in meetings_list %}
              <tr>
                <th scope="row"> {{ meeting.meeting.meeting_id }}</th>
                <td>{{ meeting.meeting.url }}</td>
                <td>{{ meeting.meeting.subject }}</td>
                <td>{{ meeting.meeting.organizer.first_name }} {{ meeting.meeting.organizer.last_name }}</td>
                <td>{{ meeting.meeting.start_time }}</td>
                <td><a class="btn btn-dark" href="/transcript/{{ meeting.meeting.meeting_id }}" role="button">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endif %}
</div>
{% endblock %}