{% extends 'base.html' %}

{% block links %}
{% load static %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<script>

  function searchOpen() {
    var search = $('#emailSearch').val()
      var data = {
        search: search
      };
      $.ajax({
        url: '/search.json',
        data: data,
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: 'searchResult'
      });
  }

  function searchResult(data) {
    console.log(data);
    $('#emailSearch').autocomplete({
      appendTo: '#searchResults',
      source: data
    });
  }
</script>

{{ create_meeting.errors }}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Welcome, <span class='text-primary'>{{ user.first_name }} {{ user.last_name }}</span>.</h1>
</div>
<div class="container">
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Organize</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">Start a Meeting</h1>
        <p class='text-body mt-3 mb-4'>
            Start a meeting and distribute the invite link to whoever you'd like.
        </p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#createMeetingModalCentered">Start Meeting</button>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Particpate</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">Join a Meeting</h1>
        <p class='text-body mt-3 mb-4'>
            Join an active meeting using the invite link provided by the organizer.
        </p>          
    </div>
    <div class="card-footer">
        <a class="btn btn-lg btn-block btn-primary" href='/register/'>Join Meeting</a>
    </div>
  </div>
</div>
{% else %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Meeting Recorder</h1>
            <p class="lead">Quickly and effortlessly create meetings and invite your colleagues. Keep track of everything that happens during your meetings. Log in or Register and start keeping records!</p>
    </div>
      <div class="container">
        <div class="card-deck mb-3 text-center">
          
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Returning Users</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Log In</h1>
                <p class='text-body mt-3 mb-4'>
                    Log in with your email and get right to a meeting, or start your own.
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#loginModalCentered">Log in</button>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">First Time Users</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Register</h1>
                <p class='text-body mt-3 mb-4'>
                    Register using your email, name, and phone number to get started participating in meetings right away!
                </p>          
            </div>
            <div class="card-footer">
                <a class="btn btn-lg btn-block btn-primary" href='/register/'>Register</a>
            </div>
          </div>
        </div>
        {% endif %}
  
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
              <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
            </div>
            <div class="col-6 col-md">
              <h5>Features</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Resources</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>About</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
  


<!-- Create meeting modal -->
<div class="modal" id="createMeetingModalCentered" tabindex="-1" role="dialog" aria-labelledby="createMeetingModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createMeetingModalCenteredLabel">Create Meeting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/create-meeting/" method="POST">
            {% csrf_token %}

            <ul class='list-unstyled' id='searchResults'>
              <!-- <li>{{user.email}}</li> -->
            </ul>
            <div class='form-group'>
              <div class='input-group'>
                <label for="{{ create_meeting.meeting_subject.id_for_label }}" class="sr-only">Subject</label>
                <input type='text' required="" placeholder='Subject' class='form-control'
                  id="{{ create_meeting.meeting_subject.id_for_label }}" name="{{ create_meeting.meeting_subject.html_name }}">
              </div>
            </div>

            <div class='form-group'>
              <div class='input-group'>
                <label for="{{ create_meeting.meeting_description.id_for_label }}" class="sr-only">Description</label>
                <input type='text' required="" placeholder='Description' class='form-control'
                  id="{{ create_meeting.meeting_description.id_for_label }}" name="{{ create_meeting.meeting_description.html_name }}">
              </div>
            </div>

            <div class='form-group'>
              <div class='input-group'>
                <label for="{{ create_meeting.meeting_starttime.id_for_label }}" class="sr-only">Start Time</label>
                <input type='datetime-local' required="" placeholder='Start Time' class='form-control'
                  id="{{ create_meeting.meeting_starttime.id_for_label }}" name="{{ create_meeting.meeting_starttime.html_name }}">
              </div>
            </div>

            <div class='form-group'>
                <div class='input-group'>
                  <label for="{{ create_meeting.meeting_members.id_for_label }}" class="sr-only">Start Time</label>
                  <input type="text" placeholder='Type an email to search...' name='{{ create_meeting.meeting_members.html_name }}' id='emailSearch' class='form-control' onkeydown="searchOpen()"/>
                </div>
              </div>

            </div>
            <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create Meeting</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}