{% extends 'base.html' %}

{% block links %}
{% load static %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<script>
  function searchOpen() {
    var search = $('#emailSearch').val()
    var data = {
      search: search
    };
    $.ajax({
      url: '/search.json',
      data: data,
      dataType: 'jsonp',
      jsonp: 'callback',
      jsonpCallback: 'searchResult'
    });
  }
  
  function searchResult(data) {
    console.log(data);
    $('#emailSearch').autocomplete({
      appendTo: '#searchResults',
      source: data
    });
  }
</script>

{% if create_meeting.errors %}
<div class='justify-content-center'>
    <ul class='list-unstyled'>
        {% for field in create_meeting %}
            {% if field.errors %}
                <li>
                  <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong>   {{ field.label }}: {{ field.errors|striptags }}
                  </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class='row justify-content-center'>
  {% for error in create_meeting.non_field_errors %}
  <p class='error-message'>{{ error }}</p>
  {% endfor %}
</div>
{% endif %} 

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
  <strong>Error</strong> {{ message }}
</div>
{% endfor %}
{% endif %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-light">
  <h1 class="display-4">Welcome, <span class='text-white'>{{ user.first_name }} {{ user.last_name }}</span>.</h1>
</div>
<div class="container text-light">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Organize</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Start a Meeting</h1>
        <p class='text-body mt-3 mb-4'>
          Start a meeting and distribute the invite link to whoever you'd like.
        </p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
          data-target="#createMeetingModalCentered">Start Meeting</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Particpate</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Join a Meeting</h1>
        <p class='text-body mt-3 mb-4'>
          Join an active meeting using the invite link provided by the organizer.
        </p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
          data-target="#joinMeetingModalCentered">Join Meeting</button>
      </div>
    </div>
  </div>
  {% else %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Meeting Recorder</h1>
    <p class="lead">Quickly and effortlessly create meetings and invite your colleagues. Keep track of everything that
      happens during your meetings. Log in or Register and start keeping records!</p>
  </div>
  <div class="container">
    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Returning Users</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Log In</h1>
          <p class='text-body mt-3 mb-4'>
            Log in with your email and get right to a meeting, or start your own.
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
            data-target="#loginModalCentered">Log in</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">First Time Users</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Register</h1>
          <p class='text-body mt-3 mb-4'>
            Register using your email, name, and phone number to get started participating in meetings right away!
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-lg btn-block btn-primary" href='/register/'>Register</a>
        </div>
      </div>
    </div>
    {% endif %}

    
  </div>



  <!-- Create meeting modal -->
  <div class="modal" id="createMeetingModalCentered" tabindex="-1" role="dialog"
    aria-labelledby="createMeetingModalCenteredLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createMeetingModalCenteredLabel">Create Meeting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/create-meeting/" method="POST">
            {% csrf_token %}
            <div class='form-group'>
              <div class='input-group'>
                <div class='input-group-prepend'>
                    <span class="input-group-text bg-primary text-white" id="inputGroup-sizing-sm">Subject</span>
                </div>
                <!-- <label for="{{ create_meeting.meeting_subject.id_for_label }}" class="sr-only">Subject</label> -->
                <input type='text' required="" placeholder='Example Meeting' class='form-control'
                  id="{{ create_meeting.meeting_subject.id_for_label }}"
                  name="{{ create_meeting.meeting_subject.html_name }}">
              </div>
            </div>

            <div class='form-group'>
              <div class='input-group'>
                <div class='input-group-prepend'>
                    <span class="input-group-text bg-primary text-white" id="inputGroup-sizing-sm">Description</span>
                </div>
                <!-- <label for="{{ create_meeting.meeting_description.id_for_label }}" class="sr-only">Description</label> -->
                <input type='text' required="" placeholder='A brief description of the meeting.' class='form-control'
                  id="{{ create_meeting.meeting_description.id_for_label }}"
                  name="{{ create_meeting.meeting_description.html_name }}">
              </div>
            </div>

            <div class='form-group'>
              <div class='input-group'>
                <div class='input-group-prepend'>
                    <span class="input-group-text bg-primary text-white" id="inputGroup-sizing-sm">Start Time</span>
                </div>
                <!-- <label for="{{ create_meeting.meeting_starttime.id_for_label }}" class="sr-only">Start Time</label> -->
                <input type='datetime-local' required="" placeholder='Start Time' class='form-control'
                  id="{{ create_meeting.meeting_starttime.id_for_label }}"
                  name="{{ create_meeting.meeting_starttime.html_name }}">
              </div>
            </div>

            <div class='form-group'>
              <div class='input-group'>
                <!-- <div class='input-group-prepend'>
                    <span class="input-group-text bg-primary text-white" id="inputGroup-sizing-sm">Invite List</span>
                </div> -->
                <!-- <label for="{{ create_meeting.meeting_members.id_for_label }}" class="sr-only">Start Time</label> -->
                <input type="text" placeholder='Type an email to search...' id='emailSearch' class='form-control'
                  onkeydown="searchOpen()" />
                <div class='input-group-append'>
                    <button type='button' class="btn btn-primary" id='addInvite'>Invite</button>
                </div>
                <input type='hidden' name='{{ create_meeting.meeting_members.html_name }}' id='meeting_members' value=''>
              </div>
            </div>
            <div class='form-group'>
              <div class='input-group' id='searchResults'>

              </div>
            </div>

            <hr>
            <div class='form-group container'>
              <h5>Invited</h5>
              <div class='input-group' id='invited-member-list'>

              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create Meeting</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Join meeting modal -->
    <div class="modal" id="joinMeetingModalCentered" tabindex="-1" role="dialog"
    aria-labelledby="joinMeetingModalCenteredLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="joinMeetingModalCenteredLabel">Join Meeting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/join-meeting/" method="POST">
            {% csrf_token %}

            <div class='form-group'>
              <div class='input-group'>
                <div class='input-group-prepend'>
                    <span class="input-group-text bg-primary text-white" id="inputGroup-sizing-sm">/m/</span>
                </div>
                <!-- <label for="{{ join_meeting.meeting_url.id_for_label }}" class="sr-only">URL</label> -->
                <input type='text' required="" placeholder='Example: ag48f3glmd' class='form-control'
                  id="{{ join_meeting.meeting_url.id_for_label }}"
                  name="{{ join_meeting.meeting_url.html_name }}">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Join Meeting</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script>
    var member_list = $('#invited-member-list');
  $('#addInvite').click(function(e) {
    var member = $('#emailSearch').val();
    if(e.which == 1 && member !== '') {
      e.preventDefault();
      var list = $('#meeting_members').val();
      list += member +",";
      $('#meeting_members').val(list);
      $('#emailSearch').val('');
      member_list.append('<div class="col-sm-4">' + member + '</div>');
    }
  });

  </script>

  {% endblock %}