{% extends 'base.html' %}

{% block links %}
{% load staticfiles %}
<link href="{% static 'meetingroom.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class='container'>
    <div class='container-fluid my-2'>
        <div class='row text-center text-light'>
        {% if user.user_id == organizer_id %}
            <div class='col-sm-4 p-2'>
                <button type='button' id='start-meeting' class='btn btn-lg btn-block btn-success text-light'>Start Meeting</button>
            </div>
            <div id='timer' class='col-sm-4 p-2 my-auto'>
                00:00
            </div>
            <div class='col-sm-4 p-2'>
                <button disabled='false' type='button' id='end-meeting' class='btn btn-lg btn-block btn-danger'>End Meeting</button>
            </div>
            {% else %}
            <div id='timer' class='offset-4 col-sm-4 p-2 my-auto'>
                00:00
            </div>
            {% endif %}
        </div>
    </div>
    <div class='container-fluid chat-container shadow bg-light'>
        <div class='row'>
            <div id='chat' class="col-sm-10">
                <ul id='chat-list' class='list-unstyled'>
                </ul>
            </div>
            <div class='col-sm-2 border-left border-primary'>
                <div class='row border-bottom border-primary justify-content-center text-primary'>
                    Present
                </div>
                <ul id='member-list' class='list-unstyled text-justify py-1 text-center text-primary'>
                    
                </ul>
            </div>
        </div> <!-- end chat row -->
        <div class='row  py-2 px-3 bg-dark border-top border-primary'>
            <div class='col-sm-10'>
                <textarea disabled id='chat-box' class='form-control mx-auto' placeholder="Type a message..."></textarea>
            </div>
            <div class='col-sm-2 d-flex mx-auto'>
                <button disabled id='attachment-btn' class='btn btn-primary'>
                    <i class="fas fa-paperclip fa-2x"></i>
                </button>
                <button disabled id='send-chat' class='btn btn-primary'>
                    <i class="fas fa-arrow-circle-right fa-2x"></i>
                </button>
                <form id='file-form' action='upload-file/' class='sr-only' method='POST' enctype="multipart/form-data" target='upload_target'>
                    {% csrf_token %}
                    <label for="id_user">User</label>
                    <select name="user" required="" id="id_user">
                        <option value="{{user.user_id}}" selected></option>
                    </select>

                    <label for="id_meeting">Meeting</label>
                    <select name="meeting" required="" id="id_meeting">
                        <option value="{{meeting_id}}" selected></option>
                    </select>
                
                    <label for="id_file_source">File source</label>
                    <input type="file" name="file_source" required id="id_file_source">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    const file_input = $('#id_file_source')
    var fileName = null;
    var meeting_url = {{ meeting_url }};
    var meeting_id = {{ meeting_id }};

    $('#attachment-btn').click(function(e) {
        e.preventDefault();
        file_input.click();
    });

    $('#id_file_source').on('change', function(e) {
        fileName = $('#id_file_source').val();
    });


    $('#send-chat').trigger('click');
    $('#chat-box').keydown(function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code == 13) {
            e.preventDefault();
            $('#send-chat').click();
            return true;
        }
    });


    // create a message that will be displayed in the browser
    function create_message(_user_fname, _user_lname, _message, profile_pic, _timestamp, file_attachment, file_name) {
        var chatList = document.querySelector('#chat-list');
        var message = $('<li></li>', {
            class: 'message my-3 shadow rounded border container bg-primary',
        });
        var row1 = $('<div></div>', {
            class: 'row border-muted border-bottom py-2'
        });
        var user_info_div = $('<div></div>', {
            class: 'user-info col-3 d-flex',
        });
        var profile_pic = $("<img />", {
            class: 'rounded-circle',
            width: '32px',
            height: '32px',
            src: 'https://ui-avatars.com/api/?name=' + _user_fname + '+' + _user_lname + '&rounded=true&size=64',
        });
        var profile_name = $("<span>" + _user_fname + "</span>").addClass('align-self-center ml-2');
        var time_stamp = $('<div>' + _timestamp + '</div>').addClass('offset-7 col-2 chat-time text-right text-muted font-italic font-weight-light pull-right');
        
        var row2 = $('<div></div>', {
            class: 'row py-2',
        });

        var message_body = $('<div>' + _message + '</div>').addClass('message-body col-12');
3 
        user_info_div.append(profile_pic);
        user_info_div.append(profile_name);
        row1.append(user_info_div)
        row1.append(time_stamp);
        row2.append(message_body);
        message.append(row1);
        message.append(row2);

        if(file_attachment !== 'None' && file_attachment) {
            var link = $('<div class="row border-top mt-2 text-right py-1">'+
                            '<div class="col-12 text-info">'+
                                '<a class="text-info" href="/files/'+file_attachment+'">'+file_name+'</a> '+ 
                                '<i class="fas fa-paperclip text-info"></i>'+
                            '</div>'+
                         '</div>', {}
            );
            message.append(link);
        }

        $('#chat-list').append(message);
    }

    // connect to the same meeting as everyone else
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/m/' + meeting_url + '/');
    
    chatSocket.onopen = function(e) {
        var data = {
            'meeting_id': meeting_id,
        }
        $.ajax({
            url: 'load-history',
            type: 'GET',
            data: data,
            success: function(json) {
                json.forEach(message => {
                    create_message(message['user_firstname'], message['user_lastname'], message['message'], '', message['timestamp'], message['file_source'], message['file_name'])
                })
                $('#chat').animate({
                    scrollTop: $('#chat').get(0).scrollHeight
                }, 250);
            }
        });
    };

    // happens whenever the socket recieves a message
    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        if(data['type'] == 'chat_message') {
            var user_firstname = data['user_firstname'];
            var user_lastname = data['user_lastname'];
            var message = data['message'];
            var timestamp = data['timestamp'];
            var file_source = data['file_source'];
            var file_name = data['file_name'];
            
            // create a message object and add it to chat list
            create_message(user_firstname, user_lastname, message, '', timestamp, file_source, file_name);
        }
        // add the new list of members to the memberlist element
        else if(data['type'] == 'refresh_members_list') {
            var members = data['members'];
            $('#member-list').empty();
            members.forEach(member_name => {
                $('#member-list').append('<li>'+member_name+'</li>');
            });
        }
        {% if user.user_id != organizer_id %}
        else if(data['type'] == 'start_meeting') {
            $('#chat-box').prop('disabled', false);
            $('#attachment-btn').prop('disabled', false);
            $('#send-chat').prop('disabled', false);
        }
        else if(data['type'] == 'end_meeting') {
            alert('this meeting has ended.');
        }
        else if(data['type'] == 'refresh_timer') {
            console.log(data['timer']);
            var time = data['timer'];
            $('#timer').html(time);
        }
        {% endif %}

        $('#chat').animate({
            scrollTop: $('#chat').get(0).scrollHeight
        }, 400);
    };

    // what happens when the socket connection closes
    chatSocket.onclose = function (e) {
        console.error("WebSocket has closed unexpectedly!");
    };

    document.querySelector('#send-chat').focus();
    document.querySelector('#send-chat').onkeyup = function (e) {
        if (e.keyCode == 13) {
            document.querySelector('#send-chat').click();
        }
    }
    
    document.querySelector('#send-chat').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-box');
        var message = messageInputDom.value;
        var uploaded_file;
        // send the attachment if it exists
        if(fileName != null) {
            // an attachment exists, so send it to the server with the message
            var form = $('#file-form');
            var url = $('#file-form').attr('action');
            var data = new FormData(form[0]);
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(response) {}
            }).done(function(response){
                var json_message = JSON.stringify({
                    'type': 'chat_message',
                    'meetingID': "{{ meeting_id }}",
                    'userID': "{{ user.user_id }}",
                    'message': message,
                    'timestamp': (new Date().toLocaleTimeString('en-US', {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric"
                    })).toString(),
                    'file_source': response['file_source'],
                });
                chatSocket.send(json_message);
            });
        } else {
            var json_message = JSON.stringify({
                'type': 'chat_message',
                'meetingID': "{{ meeting_id }}",
                'userID': "{{ user.user_id }}",
                'message': message,
                'timestamp': (new Date().toLocaleTimeString('en-US', {
                    hour12: true,
                    hour: "numeric",
                    minute: "numeric"
                })).toString(),
                'file_source': null,
            });
            chatSocket.send(json_message);
        }
        messageInputDom.value = '';
        file_input[0].value = null;
        fileName = null;
    };
    
    {% if user.user_id == organizer_id %}
    var meeting_started = false;
    var minutes = 0;
    var hours = 0;
    $('#start-meeting').click(function(e) {
        e.preventDefault();
        $('#start-meeting').prop('disabled', true);
        $('#end-meeting').prop('disabled', false);
        $('#chat-box').prop('disabled', false);
        $('#attachment-btn').prop('disabled', false);
        $('#send-chat').prop('disabled', false);
        chatSocket.send(JSON.stringify({
            'type': 'start_meeting',
            'meetingID': "{{ meeting_id }}",
            'userID': "{{ user.user_id }}",
        }));
        meeting_started = true;
    });
    $('#end-meeting').click(function(e) {
        e.preventDefault();
        $('#end-meeting').prop('disabled', true);
        $('#chat-box').prop('disabled', true);
        $('#attachment-btn').prop('disabled', true);
        $('#send-chat').prop('disabled', true);
        chatSocket.send(JSON.stringify({
            'type': 'end_meeting',
            'meetingID': "{{ meeting_id }}",
            'userID': "{{ user.user_id }}",
        }));
        meeting_started = false;
    });
    
    var timer = setInterval(function(){
        if(meeting_started){
            minutes += 1;
            if(minutes >= 60) {
                hours++;
                minutes = 0;
            }
            $('#timer').html(hours + ' hrs ' + minutes + ' mins');
            chatSocket.send(JSON.stringify({
            'type': 'refresh_timer',
            'meetingID': "{{ meeting_id }}",
            'userID': "{{ user.user_id }}",
            'timer': hours + ' hrs ' + minutes + ' mins',
            }));
        }
    }, 60000);
    {% endif %}
</script>
</div>

{% endblock %}