{% extends 'base.html' %}

{% block links %}
{% load static %}
{% endblock %}

{% block content %}

<div class='row justify-content-center'>
    <h4 class='display-4'>Welcome to MeetingRecorder</h4>
    <p class="lead">In order to use this service, you must register an account using the form below.   </p>
</div>

{% if create_user.errors %}
<div class='row justify-content-center'>
    <ul class='list-unstyled'>
        {% for field in create_user %}
            {% if field.errors %}
                <li>
                  <div class="alert alert-danger" role="alert">
                    <strong>Error</strong> {{ field.errors|striptags }}
                  </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class='row justify-content-center'>
  {% for error in create_user.non_field_errors %}
  <p class='error-message'>{{ error }}</p>
  {% endfor %}
</div>
{% endif %} 

<div class='row justify-content-center'>

    <form action="/register/" method="POST">
      {% csrf_token %}

      <div class='form-group'>
        <div class='input-group'>
          <label for="{{ create_user.first_name.id_for_label }}" class="sr-only">First Name</label>
          <input type='text' required="" placeholder='First Name' class='form-control' id="{{ create_user.first_name.id_for_label }}" name="{{ create_user.first_name.html_name }}">
        </div>
      </div>

      <div class='form-group'>
            <div class='input-group'>
              <label for="{{ create_user.last_name.id_for_label }}" class="sr-only">Last Name</label>
              <input type='text' required="" placeholder='Last Name' class='form-control' id="{{ create_user.last_name.id_for_label }}" name="{{ create_user.last_name.html_name }}">
            </div>
          </div>

        <div class='form-group'>
            <div class='input-group'>
                <label for="{{ create_user.email.id_for_label }}" class="sr-only">Email</label>
                <input type='text' required="" placeholder='Email' class='form-control' id="{{ create_user.email.id_for_label }}" name="{{ create_user.email.html_name }}">
            </div>
        </div>

      <div class='form-group'>
        <div class='input-group'>
          <label for="{{ create_user.password1.id_for_label }}" class="sr-only">Password</label>
          <input type='password' required="" placeholder='Password' class='form-control' id="{{ create_user.password1.id_for_label }}" name="{{ create_user.password1.html_name }}">
        </div>
      </div>

      <div class='form-group'>
            <div class='input-group'>
              <label for="{{ create_user.password2.id_for_label }}" class="sr-only">Password</label>
              <input type='password' required="" placeholder='Confirm Password' class='form-control' id="{{ create_user.password2.id_for_label }}" name="{{ create_user.password2.html_name }}">
            </div>
          </div>
      
      <div class='form-group'>
          <div class='input-group'>
              <label for="{{ create_user.phone.id_for_label }}" class="sr-only">Phone</label>
              <input type='text' required="" placeholder='206-555-0100' class='form-control' id="{{ create_user.phone.id_for_label }}" name="{{ create_user.phone.html_name }}">
            </div>
        </div>

        <div class='form-group'>
        <div class='input-group'>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        </div>
    </form>
</div>


{% endblock %}